body{
    line-height: 1.5;
    color: #000;
    font-size: 15px;
    overflow-x: hidden;
}

ul, li{
  padding: 0;
  margin: 0;
  list-style: none;
}


a{
    color: #2a9dbc;
    font-weight: 500;
    text-decoration: none;
}

a:hover{
    color: #217389;
    transition: .3s;
}


.btn:focus{
  outline: none;
}


.nav-container{
    background-color: transparent;
}

.nav-container>nav{
    background-color: transparent!important;
    text-transform: uppercase;
    font-weight: 700;
}

.nav-container>nav .nav-link{
  color: #333!important;
}

.nav-section{
    box-shadow: 0 0 16px -7px #000;
}

/* ============ NAVBAR DROPDOWN START ============ */
/* ============ NAVBAR DROPDOWN START ============ */
/* ============ NAVBAR DROPDOWN START ============ */
/* ============ NAVBAR DROPDOWN START ============ */
nav .dropdown {
    position: relative;
    display: inline-block;
  }

nav  .dropdown-menu {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    padding: 0!important;
  }
  
nav .dropdown-menu a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-menu a:hover{
  background-color: #ddd;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-toggle:hover::after{
  color: #DE5032;
}

.nav-section .dropdown-item{
    font-size: 14px;
    font-weight: 500;
}


/* ============ NAVBAR DROPDOWN END ============ */
/* ============ NAVBAR DROPDOWN END ============ */
/* ============ NAVBAR DROPDOWN END ============ */
/* ============ NAVBAR DROPDOWN END ============ */

/* ============ FOOTER Start ============ */
/* ============ FOOTER Start ============ */
/* ============ FOOTER Start ============ */
/* ============ FOOTER Start ============ */
.footer-main-sec{
    background-color: #333;
  }
  
  .logo-sec{
    flex: 3;
    background-color: #b63837;
    padding: 100px 13px!important;
  }
  
  .logo-sec img{
    width: 180px;
  }
  
  .link-sec{
    flex: 10;
  }
  
  .search-sec p{
    flex: 5;
    color: #fff;
    font-size: 26px;
    font-weight: 300;
    line-height: 32px;
    margin-top: 0;
    padding: 0 40px;
    text-align: center;
  }
  
  .search-sec input{
    flex: 9;
    border: none;
    background: #333;
    border-bottom: 2px solid #fff;
    border-radius: 0;
    color: #fff;
  }
  
  .search-sec .form-control:focus{
    border: none;
    background-color: transparent;
    border-bottom: 2px solid #fff;
    color: #fff;
    outline: none!important;
  }
  
  
  .links p{
    color: #999;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
  }
  
  .links a{
    color: #fff;
    text-decoration: none;
    font-size: 14px;
  }
  
  .links a:hover{
    text-decoration: underline;
  }
  
  .social-links .copyright{
    color: #fff;
  }
  
  .social-links a {
    text-decoration: none;
  }
  
  .social-links .social-icons i{
    font-size: 20px;
  }
  
  .social-links .social-icons .facebook{
    color: 	#4267B2;
  }
  .social-links .social-icons .instagram{
    color: #F77737;
  }
  .social-links .social-icons .twitter{
    color: #1DA1F2;
  }
  .social-links .social-icons .linkedin{
    color: #0e76a8 ;
  }
  .social-links .social-icons .youtube{
    color: 	#FF0000;
  }
  
  
  .social-links .social-icons .facebook:hover,
  .social-links .social-icons .instagram:hover,
  .social-links .social-icons .twitter:hover,
  .social-links .social-icons .linkedin:hover,
  .social-links .social-icons .youtube:hover {
    color: #fff;
    transition: .3s;
  }
  
  
  .log-in-sec li a:hover i{
    padding-left: 3px;
    transition: .5s;
  }



@media screen and (max-width: 1002px){
    .logo-sec {
        display: none;
    }

    .search-sec p {
        font-size: 20px;
    }
}



@media screen and (max-width: 991px){
    .links p {
        margin-top: 15px;
    }
}


@media screen and (max-width: 887px){
    .search-sec {
        display: block!important;
    }

    .link-sec {
        padding-left: 3rem;
    }

    .links {
        padding-left: 0!important;
    }

    .social-links {
        padding-left: 0!important;
    }
}

@media screen and (max-width: 660px){
    .social-links {
        display: block!important;
        text-align: center;
    }

    .social-links .copyright {
        margin-bottom: 15px!important;
    }
}

@media screen and (max-width: 575px){
    .link-sec {
        padding-left: 15px!important;
        padding-right: 15px!important;
    }
}

/* ============ FOOTER Ends ============ */
/* ============ FOOTER Ends ============ */
/* ============ FOOTER Ends ============ */


html{
  scroll-behavior: smooth;
}


/* banner-image-sec start */
.banner-image-sec{
  background-image: url(../images/online_store_banner.png);
  background-position: center;
  background-size: cover;
  height: 440px;
  padding: 65px 0;
}

.banner-image-sec .heading-p{
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
}

.banner-image-sec .heading-h1{
  color: #fff;
  font-weight: 700;
  font-size: 48px;
}

.banner-image-sec p{
  font-size: 26px;
  font-weight: lighter;
  width: 56%;
  color: #fff;
}

.banner-image-sec a.banner-button{
  color: #fff;
  border: 2px solid #fff;
  text-transform: uppercase;
  font-weight: 500;
  padding: 10px 40px;
}

.banner-image-sec a.banner-button:hover{
  color: #000;
  background-color: #fff;
}
/* banner-image-sec Ends */




/* scroll section start */
.nav-section{
  background-color: #fff;
}

.nav-section nav{
  background-color: #fff!important;
  justify-content: space-between;
}

.nav-section nav a{
  color: #333!important;
}

.scroll-section .nav-link{
  padding-right: 1.3rem!important;
  padding-left: 1.3rem!important;
}

.scroll-section .navbar a.get-start-btn{
  color: #000!important;
  border: 2px solid #000;
  text-transform: uppercase;
}

.scroll-section .navbar a.get-start-btn:hover{
  color: #fff!important;
  background-color: #000;
}
/* scroll section ends */


/* start-selling-section Start */
.start-selling-section{
  padding: 70px 0;
  background-color: #eee;
}
.start-selling-section .description-sec h3{
  color: #666;
  font-weight: lighter;
  font-size: 26px;
}
.start-selling-section .description-sec p{
  color: #666;
  font-weight: 500;
}

.start-selling-section .form-group label{
  color: #000;
  font-weight: 500;
}
.start-selling-section button{
  color: #fff;
  background-color: #000;
  padding: 10px;
  width: 100%;
  text-transform: uppercase;
  font-weight: 500;
}
.start-selling-section button:hover{
  color: #fff;
  background-color: #666;
}

.start-selling-section .table-title{
  color: #666;
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 15px;
}

.start-selling-section .row{
  align-items: center;
}

.start-selling-section table{
  width: 100%;
}

.start-selling-section table tr,
.start-selling-section table td{
  border: 2px solid #fff;
}

.start-selling-section table td{
  padding: 15px;
  color: #666;
  font-weight: 500;
}
/* start-selling-section Ends */



/* smartbuilder start */
.smartbuilder{
  padding-top: 70px;
}

.smartbuilder .row{
  align-items: center;
}

.smartbuilder img{
  width: 100%;
}

.smartbuilder .heading{
  color: #000;
  font-weight: 700;
  font-size: 40px;
  text-shadow: 0 2px 4px rgb(0 0 0 / 25%);
}

.smartbuilder .sub-heading{
  font-weight: lighter;
  font-size: 24px;
  color: #666;
}

.smartbuilder p{
  color: #666;
}

.smartbuilder a.get-started{
  color: #fff;
  background-color: #000;
  padding: 10px;
  text-transform: uppercase;
  font-weight: 500;
}

.smartbuilder .img-sec{
  margin-bottom: 20px;
}
/* smartbuilder ends */


/* features start */
.features{
  padding-top: 70px;
}

.features .head h3{
  font-size: 26px;
  font-weight: lighter;
  text-align: center;
  margin-bottom: 30px;
}
.features  li{
  display: flex;
}

.features  li img{
  padding-right: 15px;
}

.features  li span h3{
  font-weight: 500;
  font-size: 18px;
  color: #666;
}

.features  li span p{
  color: #666;
  font-size: 13px;
  margin-bottom: 0;
}

.features .row .col-md-4{
  margin-bottom: 30px;
}

.features .row .col-md-4:nth-child(7){
  margin-bottom: 0;
}
.features .row .col-md-4:nth-child(8){
  margin-bottom: 0;
}
.features .row .col-md-4:nth-child(9){
  margin-bottom: 0;
}
/* features ends */



/* starttoday start */
.starttoday{
  padding-top: 70px;
}

.starttoday .row{
  align-items: center;
}

.starttoday .img-col img{
  width: 80%;
  cursor: pointer;
}

.starttoday .txt-col .head h3{
  font-size: 40px;
  font-weight: 700;
  color: #000;
  text-shadow: 0 2px 4px rgb(0 0 0 / 25%);
}

.starttoday .txt-col .head p{
  color: #666;
  font-weight: lighter;
  font-size: 24px;
}

.starttoday .txt-col p{
  color: #666;
}

.starttoday  .button-section .get-start-btn{
  color: #fff;
  background-color: #000;
  font-weight: 500;
  text-transform: uppercase;
  padding: 10px;
  border: 2px solid #000;
}

.starttoday  .button-section .get-start-btn:hover{
  color: #000;
  background-color: transparent;
}

.starttoday  .button-section .watch-learn-more{
  color: #000;
  background-color: transparent;
  border: 2px solid #000;
  text-transform: uppercase;
  padding: 10px;
  font-weight: 500;
}

.starttoday  .button-section .watch-learn-more:hover{
  color: #fff;
  background-color: #000;
}
/* starttoday end */


/* paymentethod start */
.paymentethod{
  padding-top: 70px;
}

.paymentethod .row{
  align-items: center;
}

.paymentethod .head h3{
  font-size: 40px;
  font-weight: 700;
  color: #000;
  text-shadow: 0 2px 4px rgb(0 0 0 / 25%);
}

.paymentethod .head p{
  color: #666;
  font-weight: lighter;
  font-size: 24px;
}

.paymentethod p{
  color: #666;
}

.paymentethod .get-start-btn{
  color: #fff;
  background-color: #000;
  font-weight: 500;
  text-transform: uppercase;
  padding: 10px;
  border: 2px solid #000;
}

.paymentethod .get-start-btn:hover{
  color: #000;
  background-color: transparent;
}

.paymentethod .img-col img{
  width: 100%;
}
/* paymentethod ends */





/* === Frequently SAsked Questions Start */
.faqs-section{
  padding-top: 70px;
  margin-top: 10px;
}

.faq-section-h h2{
  color: #333;
  font-weight: lighter;
  font-size: 30px;
  text-align: center;
}

.faqs-section .accordion .fa{
  margin-right: 0.5rem;
  font-size: 24px;
  font-weight: bold;
  position: relative;
  top: 2px;
  width: 1rem;
}

.faqs-section .accordion h2>a{
  text-align: left;
}

.faqs-section .accordion .card{
  margin-bottom: 30px;
  border: none;
  box-shadow: 0px 2px 15px -9px #333;
}

.faqs-section .accordion .card:last-child{
  margin-bottom: 0;
}

.faqs-section .accordion .card .card-header{
  background-color: transparent;
  border: none;
}

.faqs-section .card .card-body p{
  padding-left: 43px;
}

.faqs-section .card .card-body{
  padding-top: 0;
}

.faqs-section h2>a{
  text-decoration: none;
  color: #000;
  font-weight: 500;
  font-size: 20px;
}

.faqs-section h2>a i{
  color: #e24747;
}

.faqs-section h2>a:hover{
  color: #000;
  text-decoration: underline;
}

.faqs-section .card .card-body p>a,
.faqs-section .accordion .card ul li a{
  color: #2a9dbc;
  font-weight: 700;
}

.faqs-section .accordion .card ul li{
  list-style: disc;
  margin-left: 60px;
  padding-bottom: 10px;
}

@media screen and (max-width: 767px) {
  .faq-section-h h2 {
    font-size: 25px;
  }
}

@media screen and (max-width: 575px) {
  .faq-section-h h2 {
    font-size: 22px;
  }
  .faqs-section h2>a{
    font-size: 16px;
  }
}
/* === Frequently SAsked Questions Ends */


/* resources start */
.resources{
  padding: 70px 0;
}

.resources .card{
  box-shadow: 0px 2px 15px -9px #333;
}

.resources h2{
  font-size: 22px;
  font-weight: 300;
}

.resources p{
  font-size: 16px;
  font-weight: 300;
}

.resources a{
  font-size: 16px;
  color: #2a9dbc;
  font-weight: 700;
}

.resources a:hover i{
  padding-left: 3px;
  transition: .5s;
}

/* resources Ends */



/*  === VIDEO MODAL CSS Start === */
.modal{
  width: 100%;
  height: 100vh;
}
.modal .modal-dialog{
  width: 100vw;
  height: 100vh;
  margin:0;
  padding:0;
  max-width:none;

}

.modal .modal-content{
  height:auto;
  height:100vh;
  border-radius:0;
  border:none;
  background-color: transparent;
}

.modal .modal-content iframe{
  display: block;
  margin: 0 auto;
  width: 80%;
  height: 80vh;
}

.modal .modal-header{
  background-color: #000;
  border-bottom: 1px solid #000;
}

.modal .modal-header button{
  color: #fff;
}
/*  === VIDEO MODAL CSS Ends === */






/* media quries start */
/* media quries start */
/* media quries start */

@media screen and (max-width: 991px) {
  .banner-image-sec{
    height: auto;
    padding: 65px 0;
  }
  .banner-image-sec .heading-h1{
    font-size: 40px;
  }
  .banner-image-sec p{
    font-size: 24px;
    width: 100%;
  }
  .smartbuilder .heading{
    font-size: 30px;
  }
  section.nav-section.sticky-top{
    display: none;
  }
  .starttoday .img-col img {
    width: 100%;
  }
  .starttoday .txt-col .head h3 {
    font-size: 30px;
  }
  .starttoday .txt-col .head p {
    font-size: 20px;
  }
  .starttoday .button-section .get-start-btn{
    padding: 4px;
  }
  .starttoday .button-section .watch-learn-more{
    padding: 4px;
  }
  .paymentethod .head h3 {
    font-size: 30px;
  }
  .paymentethod .head p {
    font-size: 20px;
  }
}


@media screen and (max-width: 767px) {
  .banner-image-sec .heading-h1{
    font-size: 30px;
  }
  .start-selling-section .description-sec{
    margin-bottom: 20px;
  }
  .smartbuilder a.get-started{
    width: 100%;
  }
  .features .row .col-md-4:nth-child(7){
    margin-bottom: 30px;
  }
  .features .row .col-md-4:nth-child(8){
    margin-bottom: 30px;
  }
  .starttoday .img-col img {
    width: 70%;
    display: flex;
    margin: 0 auto 20px;
  }
  .starttoday .button-section .get-start-btn{
    padding: 10px;
    width: 48%;
  }
  .starttoday .button-section .watch-learn-more{
    width: 48%;
    padding: 10px;
  }
  .paymentethod .txt-col{
    order: 2;
  }
  .paymentethod .img-col{
    order: 1;
    margin-bottom: 20px;
  }
  .paymentethod .img-col img{
    width: 70%;
    display: block;
    margin: auto;
  }
}


@media screen and (max-width: 575px) {
  .banner-image-sec{
    padding: 40px 0;
  }
  .banner-image-sec .heading-h1{
    font-size: 25px;
  }
  .banner-image-sec p{
    font-size: 20px;
  }
  .smartbuilder .heading{
    font-size: 20px;
  }
  .smartbuilder .sub-heading{
    font-weight: 20px;
  }
  .start-selling-section{
    padding-left: 40px 0;
  }
  .starttoday .txt-col .head h3 {
    font-size: 20px;
  }
  .starttoday .txt-col .head p {
    font-size: 18px;
  }
  .starttoday .button-section .get-start-btn{
    width: 100%;
    margin-bottom: 15px;
  }
  .starttoday .button-section .watch-learn-more{
    width: 100%;
  }
  .paymentethod .head h3 {
    font-size: 20px;
  }
  .paymentethod .head p {
    font-size: 18px;
  }
  .paymentethod .get-start-btn{
    width: 100%;
  }
}