body{
    line-height: 1.5;
    color: #000;
    font-size: 15px;
    overflow-x: hidden;
}

ul, li{
  padding: 0;
  margin: 0;
  list-style: none;
}


.nav-container{
    background-color: transparent;
}

.nav-container>nav{
    background-color: transparent!important;
    text-transform: uppercase;
    font-weight: 700;
}

.nav-container>nav .nav-link{
  color: #333!important;
}

.nav-section{
    box-shadow: 0 0 16px -7px #000;
}

/* ============ NAVBAR DROPDOWN START ============ */
/* ============ NAVBAR DROPDOWN START ============ */
/* ============ NAVBAR DROPDOWN START ============ */
/* ============ NAVBAR DROPDOWN START ============ */
nav .dropdown {
    position: relative;
    display: inline-block;
  }

nav  .dropdown-menu {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    padding: 0!important;
  }
  
nav .dropdown-menu a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-menu a:hover{
  background-color: #ddd;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-toggle:hover::after{
  color: #DE5032;
}

.nav-section .dropdown-item{
    font-size: 14px;
    font-weight: 500;
}


/* ============ NAVBAR DROPDOWN END ============ */
/* ============ NAVBAR DROPDOWN END ============ */
/* ============ NAVBAR DROPDOWN END ============ */
/* ============ NAVBAR DROPDOWN END ============ */

/* ============ FOOTER Start ============ */
/* ============ FOOTER Start ============ */
/* ============ FOOTER Start ============ */
/* ============ FOOTER Start ============ */
.footer-main-sec{
    background-color: #333;
  }
  
  .logo-sec{
    flex: 3;
    background-color: #b63837;
    padding: 100px 13px!important;
  }
  
  .logo-sec img{
    width: 180px;
  }
  
  .link-sec{
    flex: 10;
  }
  
  .search-sec p{
    flex: 5;
    color: #fff;
    font-size: 26px;
    font-weight: 300;
    line-height: 32px;
    margin-top: 0;
    padding: 0 40px;
    text-align: center;
  }
  
  .search-sec input{
    flex: 9;
    border: none;
    background: #333;
    border-bottom: 2px solid #fff;
    border-radius: 0;
    color: #fff;
  }
  
  .search-sec .form-control:focus{
    border: none;
    background-color: transparent;
    border-bottom: 2px solid #fff;
    color: #fff;
    outline: none!important;
  }
  
  
  .links p{
    color: #999;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
  }
  
  .links a{
    color: #fff;
    text-decoration: none;
    font-size: 14px;
  }
  
  .links a:hover{
    text-decoration: underline;
  }
  
  .social-links .copyright{
    color: #fff;
  }
  
  .social-links a {
    text-decoration: none;
  }
  
  .social-links .social-icons i{
    font-size: 20px;
  }
  
  .social-links .social-icons .facebook{
    color: 	#4267B2;
  }
  .social-links .social-icons .instagram{
    color: #F77737;
  }
  .social-links .social-icons .twitter{
    color: #1DA1F2;
  }
  .social-links .social-icons .linkedin{
    color: #0e76a8 ;
  }
  .social-links .social-icons .youtube{
    color: 	#FF0000;
  }
  
  
  .social-links .social-icons .facebook:hover,
  .social-links .social-icons .instagram:hover,
  .social-links .social-icons .twitter:hover,
  .social-links .social-icons .linkedin:hover,
  .social-links .social-icons .youtube:hover {
    color: #fff;
    transition: .3s;
  }
  
  
  .log-in-sec li a:hover i{
    padding-left: 3px;
    transition: .5s;
  }



@media screen and (max-width: 1002px){
    .logo-sec {
        display: none;
    }

    .search-sec p {
        font-size: 20px;
    }
}



@media screen and (max-width: 991px){
    .links p {
        margin-top: 15px;
    }
}


@media screen and (max-width: 887px){
    .search-sec {
        display: block!important;
    }

    .link-sec {
        padding-left: 3rem;
    }

    .links {
        padding-left: 0!important;
    }

    .social-links {
        padding-left: 0!important;
    }
}

@media screen and (max-width: 660px){
    .social-links {
        display: block!important;
        text-align: center;
    }

    .social-links .copyright {
        margin-bottom: 15px!important;
    }
}

@media screen and (max-width: 575px){
    .link-sec {
        padding-left: 15px!important;
        padding-right: 15px!important;
    }
}

/* ============ FOOTER Ends ============ */
/* ============ FOOTER Ends ============ */
/* ============ FOOTER Ends ============ */






/* Banner Image Section Start */
.banner-img-section{
  background-image: url("../images/premium-domain-banner.jpg");
  background-position: center;
  background-size: cover;
  height: 440px;
  padding: 60px 0;
  color: #fff;
}

.banner-img-section h1{
  font-size: 75px;
  font-weight: 700;
}

.search-icon{
  top: 0;
  right: 10px;
  color: #b63838;
  font-size: 22px;
  cursor: pointer;
}

.search-icon:hover{
  color: #a70b1e;
}
/* Banner Image Section Ends */




/* premium section start */
.premium-section{
  background-color: #fafafa;
  padding: 85px 0;
}

.premium-section h2{
  font-size: 26px;
  font-weight: lighter;
  color: #777;
  margin-bottom: 15px;
}

.premium-section p{
  color: #333;
}
/* premium section ends */



/* benefits of registering start */
.benefits-register{
  padding: 50px 0;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 10%);
}

.benefits-register .benefits-head h2{
  color: #333;
  font-size: 22px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 25px;
}

.benefits-register .benefits h2{
  color: #333;
  font-size: 16px;
  font-weight: 700;
}

.benefits-register .benefits p{
  color: #333;
  font-weight: 400;
  font-size: 16px;
}

/* benefits of registering ends */



/* === Frequently SAsked Questions Start */
.faqs-section{
  padding-top: 60px;
  background-color: #fafafa;
  margin-top: 10px;
}

.faq-section-h h2{
  color: #333;
  font-weight: lighter;
  font-size: 30px;
  text-align: center;
}

.faqs-section .accordion .fa{
  margin-right: 0.5rem;
  font-size: 24px;
  font-weight: bold;
  position: relative;
  top: 2px;
  width: 1rem;
}

.faqs-section .accordion h2>a{
  text-align: left;
}

.faqs-section .accordion .card{
  margin-bottom: 30px;
  border: none;
  box-shadow: 0px 2px 15px -9px #333;
}

.faqs-section .accordion .card:last-child{
  margin-bottom: 0;
}

.faqs-section .accordion .card .card-header{
  background-color: transparent;
  border: none;
}

.faqs-section .card .card-body p{
  padding-left: 43px;
}

.faqs-section .card .card-body{
  padding-top: 0;
}

.faqs-section h2>a{
  text-decoration: none;
  color: #000;
  font-weight: 500;
  font-size: 20px;
}

.faqs-section h2>a i{
  color: #e24747;
}

.faqs-section h2>a:hover{
  color: #000;
  text-decoration: underline;
}

.faqs-section .card .card-body p>a,
.faqs-section .accordion .card ul li a{
  color: #2a9dbc;
  font-weight: 700;
}

.faqs-section .accordion .card ul li{
  list-style: disc;
  margin-left: 60px;
  padding-bottom: 10px;
}
/* === Frequently SAsked Questions Ends */


/* === renew-regular-rate start === */
.renew-regular-rate{
  background-color: #fafafa;
  padding: 40px 0;
}

.renew-regular-rate p{
  color: #333;
  margin-bottom: 0;
}

.renew-regular-rate p>a{
  color: #2a9dbc;
  font-weight: 500;
}

.renew-regular-rate p>a:hover{
  color: #217389;
  transition: .3s;
}
/*  === renew-regular-rate ends === */







/* ============== Media Quaries Start ============ */
/* ============== Media Quaries Start ============ */
/* ============== Media Quaries Start ============ */

@media screen and (max-width: 991px) {
  .banner-img-section h1 {
    font-size: 60px;
  }
  .banner-img-section{
    height: 330px;
  }
}


@media screen and (max-width: 767px) {
  .banner-img-section h1 {
    font-size: 40px;
  }
  .banner-img-section {
    height: 260px;
  }
  .premium-section .col-md-6:first-child{
    margin-bottom: 25px;
  }
  .premium-section h2{
    font-size: 20px;
  }
  .premium-section{
    padding: 40px 0;
  }
  .benefits-register .benefits-head h2{
    font-size: 18px;
  }
  .faq-section-h h2{
    font-size: 25px;
  }
}


@media screen and (max-width: 575px) {
  .banner-img-section h1 {
    font-size: 30px;
  }

  .banner-img-section{
    padding: 60px 0;
  }
  .faq-section-h h2{
    font-size: 22px;
  }
  .faqs-section h2>a{
    font-size: 16px;
  }
}